<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intense Converse</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>

    <section class="navegacion">
        <nav>
            <ul class="navegacion-menu">
                <li class="global">
                    <p>INTENSE</p>
                </li>
                <li class="global">
                    <a href="#">HOME</a>
                </li>
                <li class="global">
                    <a href="#">Tienda</a>
                </li>
                <li class="global">
                    <a href="#">
                        Nosotros
                    </a>
                </li>
                <li class="global">
                    <a href="#">Contacto</a>
                </li>

            </ul>

            <input type="search" placeholder="Buscar" class="buscarNavegador">
            <button type="button" class="buscar">
                <img src="https://www.iconsdb.com/icons/preview/black/search-13-xxl.png" alt="" style="vertical-align: middle; width:15px">
            </button>
        </nav>
    </section>

   
    <section class="banner">
    </section>

    <section class="filtros">
        <h1>Filtros</h1>
        <div class="filtro">
            <div class="filtro1">
                <h2>Color:</h2>
                <button class="blanco"></button>
                <button class="negro"></button>
                <button class="rojo"></button>
                <button class="miel"></button>
            </div>

            <div class="filtro2">
                <h2>Precio:</h2>
                
            </div>
            
        </div>
    </section>

    <section class="productos">
        <div class="zapatos">
            <div class="mostrar">
                {{#each zapatos}}
                <div class="zapato" data-id="{{this._id}}">
                    <div class="imagen" style="background-image: url({{link}});">
                         <div class="descri">
                        <p class="nom">
                            <b>{{modelo}}</b>
                        </p>
                        <p class="desc">
                            Marca: {{marca}}
                        </p>
                        <p class="desc">
                            Precio: ${{precio}}
                        </p>
                    </div>
                    </div>
                   
                   
                </div>
                {{/each}}
            </div>
        </div>
    </section>
 
</body>

<footer>
    <div class="flex-container">
        <div class="flex-item">
            <h1>INTENSE</h1>
            <p>Plataforma de venta de calzado femenino.</p>
            <br>
            <p>
                <a href="#"><b>Condiciones</b></a>
            </p>
            <p>
                <a href="#"><b>Soporte</b></a>
            </p>
            <p>
                <a href="#"><b>Privacidad</b></a>
            </p>
        </div>
        <div class="flex-item">
            <h1>SÍGUENOS</h1>
            <p>Mantente al tanto de las novedades.</p>
            <br>
        </div>
    </div>
</footer>

</html>