<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intense Converse</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>

    <section class="navegacion">
        <nav>
            <ul class="navegacion-menu">
                <li class="global">
                    <p>INTENSE</p>
                </li>
                <li class="global">
                    <a href="#">HOME</a>
                </li>
                <li class="global">
                    <a href="#">Tienda</a>
                </li>
                <li class="global">
                    <a href="#">
                        Nosotros
                    </a>
                </li>
                <li class="global">
                    <a href="#">Contacto</a>
                </li>

            </ul>

            <input type="search" placeholder="Buscar" class="buscarNavegador">
            <button type="button" class="buscar">
                <img src="https://www.iconsdb.com/icons/preview/black/search-13-xxl.png" alt="" style="vertical-align: middle; width:15px">
            </button>
        </nav>
    </section>

   
    <section class="banner">
    </section>

    <section class="productos">
        <div class="zapatos">
            <div class="mostrar">
                {{#each zapatos}}
                <div class="zapato" data-id="{{this._id}}">
                    <div class="imagen" style="background-image: url({{libro}});"></div>
                    <div class="descri">
                        <p class="nom">
                            <b>{{modelo}}</b>
                        </p>
                        <p class="desc">
                            Color: {{color}}
                        </p>
                        <p class="desc">
                            Marca: {{marca}}
                        </p>
                        <p class="desc">
                            Precio: ${{precio}}
                        </p>
                    </div>
                   
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <section class="galeria">
        <!-- Photo Grid -->
        <div class="row">
            <div class="column">
                <div class="menuGaleria10">
                    <img src="../img/holographic.png" style="width:100%">
                </div>

                <img src="http://www.planet-aviation.com/wp-content/uploads/2018/02/converse-nba-city-discovery-edition-06.jpg" style="width:100%">

            </div>
            <div class="column">
                <img src="https://3otqkcd9rd-flywheel.netdna-ssl.com/wp-content/uploads/2017/05/converse-pride-01.jpg" style="width:100%">
                <img src="https://yrbmag.com/wp-content/uploadsh/2017/03/CN_NY_J17_004_HIGHTOP_sidebyside_RGB_150DPI_V2simple_BEIGE.jpg"
                    style="width:100%">
            </div>
            <div class="column">
                <img src="https://content.nike.com/content/dam/one-nike/en_us/season-2017-fl/converse/le/0706/dt/converse-footpatrol-one-star-suede-low-top-shoes.jpg.transform/full-screen/converse-footpatrol-one-star-suede-low-top-shoes.jpg"
                    style="width:100%">
                <img src="http://www.planet-aviation.com/wp-content/uploads/2018/02/converse-nba-city-discovery-edition-01.jpg" style="width:100%">
                
            </div>
        </div>

    </section>
 
</body>

<footer>
    <div class="flex-container">
        <div class="flex-item">
            <h1>INTENSE</h1>
            <p>Plataforma de venta de calzado femenino.</p>
            <br>
            <p>
                <a href="#"><b>Condiciones</b></a>
            </p>
            <p>
                <a href="#"><b>Soporte</b></a>
            </p>
            <p>
                <a href="#"><b>Privacidad</b></a>
            </p>
        </div>
        <div class="flex-item">
            <h1>SÍGUENOS</h1>
            <p>Mantente al tanto de las novedades.</p>
            <br>
        </div>
    </div>
</footer>

</html>